@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:wght@100&family=PT+Sans:wght@700&display=swap');

/* Fonts usage: 
font-family: 'Hubballi', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    
}