@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:wght@100&family=PT+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&display=swap');

/* Fonts usage: 
font-family: 'Hubballi', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: Arial,Helvetica,sans-serif;
font-family: 'Abril Fatface', serif;
font-family: 'DM Serif Display', serif;
*/

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --black-font-color: #0b090a;
  --azul-escuro: #003366;
  --azul-claro: #01BAEF;
  --background: #F9F9F9;
  --verde: #20BF55;
}

.wave {
  position: absolute;
  top: -40;
  left: 0;
  width: 14%;
  height: auto;
  z-index: 2;
  pointer-events: none;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: var(--background);
  z-index: 1;
  flex-direction: row;
  align-items: center;
  padding-left: 15vw;
  padding-right: 5vw;
  justify-content: space-between;
  font-family: 'PT Sans', sans-serif;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  z-index: 5;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  font-size: 25px;
  justify-content: center;
}

nav a {
  display: flex;
  font-size: 1.1rem;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: var(--azul-escuro);
  font-weight: 500;
}

main {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

main article {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  overflow: hidden;
  padding-top: 20vh;
}

main article h1,h2,h3 {
  overflow: hidden;
}

main article h1 {
  font-family: 'DM Serif Display', serif;
  color: #003366;
  font-size: 4rem;
}

main article h2 {
  font-family: 'PT Sans', sans-serif;
  color: #01BAEF;
  font-size: 2.4rem;
  font-weight: 200;
}

main article h3 {
  color: var(--azul-escuro);
  font-weight: 400;
}

main article ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  gap: 1vw;
}

main article ul .logo-curriculo {
  border-radius: 100%;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
