@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Josefin+Sans:wght@100&family=PT+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&display=swap');

/* Fonts usage: 
font-family: 'Hubballi', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: Arial,Helvetica,sans-serif;
font-family: 'Abril Fatface', serif;
font-family: 'DM Serif Display', serif;
*/

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --black-font-color: #0b090a;
  --azul-escuro: #003366;
  --azul-claro: #01BAEF;
  --background: #F9F9F9;
  --verde: #20BF55;
}

.wave {
  position: absolute;
  top: -40;
  left: 0;
  width: 14%;
  height: auto;
  z-index: 2;
  pointer-events: none;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: var(--background);
  z-index: 1;
  flex-direction: row;
  align-items: center;
  padding-left: 15vw;
  padding-right: 10vw;
  justify-content: space-between;
  font-family: 'PT Sans', sans-serif;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  z-index: 5;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  font-size: 25px;
}

nav a {
  display: flex;
  font-size: 1.1rem;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: var(--azul-escuro);
  font-weight: 500;
}

.language {
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}
.language-selected {
  display: flex;   
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.language-selected:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(https://www.countryflags.io/br/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.language-selected.change-br:before {
  background-image: url(https://www.countryflags.io/br/flat/32.png);
}
.language-selected.change-en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.language-selected.change-es:before {
  background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.language ul {
  position: absolute;
  width: 140px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  padding-top: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.language ul li {
  list-style: none;
}

.language ul li a {
  display: block;
  color: #252525;
  padding: 5px 10px;
}

.language ul li:hover {
  background-color: #f8f8f8;
}

.language ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

a.br:before {
  background-image: url(https://www.countryflags.io/br/flat/32.png);
}

a.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}
a.es:before {
  background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.language:hover ul {
  display: block;
}


